[submodule "submodules/crApp"]
	path = submodules/crApp
	url = git@github.com:riedde/crApp.git
[submodule "submodules/baudi-odd"]
	path = submodules/baudi-odd
	url = https://github.com/Baumann-Digital/baudi-odd.git
