# This CITATION.cff file was generated with cffinit.
# Visit https://bit.ly/cffinit to generate yours today!

cff-version: 1.2.0
title: @project.app@
message: "Please cite this dataset using the metadata from 'preferred-citation'."
type: dataset
authors:
  - given-names: Dennis
    family-names: Ried
    email: forschung@dennisried.de
    affiliation: Martin Luther University Halle-Wittenberg
    orcid: 'https://orcid.org/0000-0001-5545-2088'
preferred-citation:
  authors:
    - family-names: Ried
      given-names: Dennis
  title: "@project.app@ v@project.version@"
  type: dataset
  year: @release.year@
abstract: Contains the data of the Baumann-Digital project.
keywords:
  - edition
  - musicology
  - TEI
  - MEI
  - XML
repository-code: 'https://github.com/Baumann-Digital/baudi-data'
url: 'https://baumann-digital.de'
license: CC-BY-4.0
version: @project.version@
date-released: @release.date@

